// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-picture {
  img {
    width: 300px;
  }
}
.homepage-link {
  padding: 10px;
  margin: 10px;
}

.username {
  font-weight: bold;
}
