<table border="0">
  <tr>
    <td>
      <div class="username">Username</div>
    </td>
    <td></td>
  </tr>
  <tr>
    <td>
      <div class="profile-picture">
        <%= image_tag 'double-facepalm.jpg' %>
      </div>
    </td>
    <td>
      <%= link_to 'About me', '#', class: 'homepage-link' %>
      <br/>
      <%= link_to 'My works', '#', class: 'homepage-link' %>
      <br/>
      <%= link_to 'Place order', '#', class: 'homepage-link' %>
      <br/>
      <%= link_to 'Contacts', '#', class: 'homepage-link' %>
    </td>
  </tr>
</table>
